{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh
set -eu
# Brewfile data: {{ printf "%q %q %q %q %q %q" .role .packages.common .packages.darwin.formula .packages.darwin.cask (index .packages.darwin.roles .role "formula") (index .packages.darwin.roles .role "cask") | sha256sum }}
brew bundle --file="{{ .chezmoi.homeDir }}/.config/homebrew/Brewfile"
{{- else -}}
#!/bin/sh
exit 0
{{- end }}
