{
  "mcpServers": {
		{{- if eq .role "work" }}
		"atlassian": {
      "url": "https://mcp.atlassian.com/v1/mcp"
    },
		{{- end }}
    "chrome-devtools": {
      "command": "npx",
      "args": ["-y", "chrome-devtools-mcp@latest"]
    },
		"grepai": {
      "command": "grepai",
      "args": ["mcp-serve"]
    }
  }
}
