version: "0.5"
{{ if eq .chezmoi.os "darwin" }}
log_location: {{ .chezmoi.homeDir }}/Library/Logs/process-compose.log
{{ else }}
log_location: {{ .chezmoi.homeDir }}/.local/state/process-compose.log
{{ end }}
processes:
{{ if eq .role "personal" }}
  pass-cli-ssh-agent:
    description: "Proton Pass SSH agent"
    command: "pass-cli ssh-agent start --socket-path {{ .chezmoi.homeDir }}/.ssh/proton-pass-agent.sock"
    availability:
      restart: always
      backoff_seconds: 5
{{ else }}
  {}
{{ end }}
