tap "yoanbernabeu/tap", trusted: true
tap "f1bonacc1/tap", trusted: true
{{- if eq .role "personal" }}
tap "protonpass/tap", trusted: true
{{- end }}
{{- if eq .role "work" }}
tap "infrahq/tap", trusted: true
{{- end }}

brew "fish"
brew "fnm"
brew "tmux"
brew "neovim"
brew "git"
brew "jujutsu"
brew "gh"
brew "fzf"
brew "zoxide"
brew "eza"
brew "ripgrep"
brew "fd"
brew "bat"
brew "grepai"
brew "crit"
brew "process-compose"
brew "herdr"
{{- if eq .role "personal" }}
brew "pass-cli"
{{- end }}
{{- if eq .role "work" }}
brew "vault-cli"
brew "container"
{{- end }}

brew "k9s"
{{- if eq .role "work" }}
brew "infra"
{{- end }}

cask "ghostty"
cask "cmux"
cask "raycast"
cask "lm-studio"
{{- if eq .role "work" }}
cask "1password"
cask "1password-cli"
cask "gcloud-cli"
{{- end }}
