tap "yoanbernabeu/tap", trusted: true
tap "f1bonacc1/tap", trusted: true
{{- if eq .role "personal" }}
tap "protonpass/tap", trusted: true
{{- end }}
{{- if eq .role "work" }}
tap "infrahq/tap", trusted: true
tap "hashicorp/tap", trusted: true
{{- end }}

brew "chezmoi"
brew "coreutils"
brew "fish"
brew "fnm"
brew "neovim"
brew "git"
brew "jujutsu"
brew "gh"
brew "fzf"
brew "zoxide"
brew "eza"
brew "ripgrep"
brew "fd"
brew "bat"
brew "buf"
brew "grepai"
brew "crit"
brew "process-compose"
brew "herdr"
brew "rtk"
{{- if eq .role "personal" }}
brew "pass-cli"
{{- end }}
{{- if eq .role "work" }}
brew "hashicorp/tap/vault"
brew "container"
brew "docker-credential-helper"
brew "gimme-aws-creds"
{{- end }}

brew "k9s"
brew "kubernetes-cli"
brew "helm"
{{- if eq .role "work" }}
brew "infra"
{{- end }}

cask "ghostty"
cask "vicinae"
cask "lm-studio"
cask "claude-code"
{{- if eq .role "work" }}
cask "1password"
cask "1password-cli"
cask "gcloud-cli"
{{- end }}
