tap "yoanbernabeu/tap", trusted: true
tap "f1bonacc1/tap", trusted: true
tap "can1357/tap", trusted: true
{{ if eq .role "personal" }}
tap "protonpass/tap", trusted: true
{{ end }}
{{ if eq .role "work" }}
tap "infrahq/tap", trusted: true
tap "hashicorp/tap", trusted: true
{{ end }}

{{ range .packages.common }}
brew "{{ . }}"
{{ end }}
{{ range .packages.darwin.formula }}
brew "{{ . }}"
{{ end }}
{{ range index .packages.darwin.roles .role "formula" }}
brew "{{ . }}"
{{ end }}

{{ range .packages.darwin.cask }}
cask "{{ . }}"
{{ end }}
{{ range index .packages.darwin.roles .role "cask" }}
cask "{{ . }}"
{{ end }}
