status is-login; and begin
    # Login shell initialisation
end

status is-interactive; and begin
    fish_vi_key_bindings

		set -x HOMEBREW_NO_ANALYTICS 1

    # add brews to PATH
    if test -x /opt/homebrew/bin/brew
        /opt/homebrew/bin/brew shellenv | source
    end

{{- if eq .role "personal" }}
    set -x SSH_AUTH_SOCK /Users/gunnar/.ssh/proton-pass-agent.sock
{{- end }}
{{- if eq .role "work" }}
		set -x AWS_PROFILE bedrock

		# Added by eng-bootstrap 2026-06-22 18:51:01
		set -x KITCHEN_LOCAL_YAML .kitchen.gce.yml

		# Added by eng-bootstrap 2026-06-22 18:56:00
		set -x FASTLY_CHEF_USERNAME gunnarsundberg
		set -x GOOGLE_SSH_USERNAME gunnar.sundberg
{{- end }}
    end
end
