// ────────────── Startup Applications ──────────────
// https://github.com/YaLTeR/niri/wiki/Configuration:-Miscellaneous#spawn-sh-at-startup

    spawn-at-startup "noctalia"
{{ if .features.t2 }}
    spawn-at-startup "tiny-dfr"
{{ end }}
    
